@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap'); */
body{
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
}

.item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

.container-body{
    margin: auto;
}

.container-weather-items{
    width: 300px;
    height: auto;
    /* border: 2px solid black; */
    margin: 10px auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 4px;
    
}

.main-weather-flex{
    display: flex;
    justify-content: center;
    margin: auto;
}

.another-2flex-last{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: start!important;
    margin-left: 10px;
}

.items{
    padding: 4px;
    font-size: 15px;
    font-weight: 600px;
}

.delete_city{
    padding-top: 5px;
    padding-bottom: 10px;
    
}
.delete{
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    color:rgb(14, 13, 13);
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.delete:hover{
    /* font-size: medium; */
    color:rgb(231, 0, 0);
    font-weight: bold;
    background-color: black;
}

form input{
    width: 243px;
    padding: 8px;
    border-radius: 2px;
}

.form-field-button{
    display: inline;
}

.search_field > form{
    margin-top: 30px;
}

.button_search_field{
    padding:8px;
}

.item2{
    font-size: 27px;
    font-weight: 700;
}

.item1{
    padding: 5px;
    font-size: 23px;
}
.item4{
    display: flex;
    font-size: 20px;
}
.courtesy{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;    
    text-align: center;
    /* font-family: 'Mea Culpa', cursive; */
}
.courtesy a {
    font-size: 25px;
    color:rgb(22, 83, 252);
    text-decoration: none;
    font-family: 'Mea Culpa', cursive;
}